node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

database.sqlite
*.sqlite
*.sqlite-shm
*.sqlite-wal

public/uploads/**
!public/uploads/.gitkeep

coverage/
dist/
build/
.DS_Store
